<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading;"
        (submit)="onSavePost(postForm)"
        #postForm="ngForm"
  >
      <mat-form-field>
          <input
          type="text"
          matInput
          [ngModel]="post?.title || ''"
          name="title"
          required
          placeholder="Title"
          >
        </mat-form-field>
        <mat-card-content>
          <mat-form-field>
            <textarea
            matInput
            rows="6"
            name="content"
            [ngModel]="post?.content || ''"
            required
            placeholder="Content"
            ></textarea>
          </mat-form-field>
        </mat-card-content>

        <button mat-raised-button color="primary">Save</button>
  </form>
</mat-card>
