<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="(posts$ | async) as posts">
  <mat-accordion *ngIf="!isLoading" multi="true">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{post.title}}
      </mat-expansion-panel-header>

      <div *ngIf="post.imagePath" class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>

      <p>{{post.content}}</p>

      <mat-action-row>
        <button mat-button color="primary" [routerLink]="['edit', post.id]">Edit</button>
        <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="postsCount$ | async"
                 [pageSize]="postsPerPage"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onChangedPage($event)"
  ></mat-paginator>
</ng-container>


